COINGLASS_API_KEY=
ANTHROPIC_API_KEY=
UNBIAS_API_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
WEB_APP_URL=
DATABASE_URL=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
API_PORT=3001
API_KEY=
API_URL=http://localhost:3001